/* footer style */
.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #f2f2f2;
    font-size: 14px;
    color: #333;
}

.footer-left,
.footer-right {
    display: flex;
    align-items: center;
}
.footer-right {
   font-size: 20px;
}

/* Social Media */
.social-icons a {
    display: inline-block;
    background-color: #0077cc;
    color: white;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    font-size: 16px;
    margin-right: 6px;
    transition: background-color 0.3s ease;
}

.social-icons a:hover {
    background-color: #005fa3;
}

/* Contact Button */
.contact-button {
    background-color: #28a745;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #218838;
}
/* contcat style */

.contact-container {
    max-width: 500px;
    margin: 50px auto;
    background: #fff;
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.contact-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.contact-container input,
.contact-container textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.contact-container button {
    width: 100%;
    padding: 12px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-container button:hover {
    background-color: #005fa3;
}

.success-msg {
    margin-top: 15px;
    text-align: center;
    color: green;
    font-weight: bold;
}
